<html>

<head>
    <title>GRE Flashcard</title>
    <script src="/lib/angular.min.js" type="text/javascript"></script>
    <script src="/lib/materialize.min.js" type="text/javascript"></script>
    <script src="/js/script.js" type="text/javascript"></script>
</head>

<body style="height:100%;background: url(background2.jpg)">
    <div class=" container vertical-center" style="width:40%;" ng-app="gre-chrome" ng-controller="HelloController">
        <div class="row" style="padding-top:2%">
            <div class="col s12 m12 valign center">
                <div class="card white darken-1">
                    <div class="card-content valign center">
                        <span class="card-title">{{word}}</span>
                        <div class="switch right" style="display: inline-block; align-content: right;">
                            <label>
                                <input type="checkbox" ng-model="isStudyMode">
                                <span class=" lever"></span>
                                Study Mode
                            </label>
                        </div>
                        <div class="row" style="margin-bottom: 0px;">
                            <form class="col s12 offset-s3">
                                <div class="input-field col s6 l6">
                                    <input ng-if="isStudyMode" id="meaning" type="text" class="validate">
                                    <label ng-if="isStudyMode" for="meaning" class="active">What does it mean?</label>
                                    <div ng-if="isStudyMode==false" class="row">
                                        <p class="flow-text" style="font-size:1.2rem;">{{meaning}}</p>
                                    </div>
                                    <div style="padding-top:1%;">
                                        <a ng-if="isStudyMode" class="waves-effect waves-light brown btn"><i
                                                class="material-icons center">done</i></a>
                                        <a class="waves-effect waves-light brown btn" ng-click="nextWord()"><i
                                                class="material-icons center">chevron_right</i></a>
                                    </div>
                                </div>

                            </form>
                        </div>


                    </div>
                    <div ng-if="isStudyMode" class="card-action brown">
                        <a class="btn-flat" ng-click="changeMode()">I DON'T KNOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Compiled and minified JavaScript -->
<style>
    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>

</html>